<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <link rel="stylesheet" href="css/home.css">
    <title>Tinker Home</title>
  </head>
  <body>
    <div class="all">
      <div class="contentTop">
        <h1>Tinker</h1>
        <p>How to use Tinker.</p>
        <p id="text-top">Simply enter a name of your chose and a room id. To chat with someone make sure that all of you enter the same room id correctly. Also Tinker will not save any chat activity and because of Hypertext Transfer Protocol Secure your messages will be encrypted. Note that this is just a demo version</p>
      </div>
      <div class="download-section">
        <div class="contentWindows">
          <hr>
          <h2>Tinker for Windows</h2>
          <br>
          <a href="downloads/TinkerChat.rar"target="_blank" download="downloads/Tinker.zip">Download</a>
        </div>
        <br>
        <div class="contentWindows">
          <hr>
          <h2>Tinker for Android</h2>
          <br>
          <a href="downloads/tinker.apk"target="_blank" download="downloads/tinker.apk">Download</a>
        </div>
        <br>
        <div class="contentWeb">
          <hr>
          <h2>Tinker Browser</h2>
          <br>
          <a href="/tinker">Tinker</a>
        </div>
        <br>
        <hr>
      </div>
      <br>
      <div class="contact-section">
        <a id="madeBy" href="https://voxny404.github.io/portfolio/">Made by Voxny404</a>
      </div>
    </div>
  </body>
</html>
